<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Metro UI CSS">
    <meta name="author" content="Sergey Pimenov">
    <meta name="keywords" content="windows 8, modern style, Metro UI, style, modern, css, framework">

    <link href="css/modern.css" rel="stylesheet">
    <link href="css/modern-responsive.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet" type="text/css">
    <link href="js/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="js/assets/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="js/assets/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="js/assets/moment.js"></script>
    <script type="text/javascript" src="js/assets/moment_langs.js"></script>

    <script type="text/javascript" src="js/modern/dropdown.js"></script>
    <script type="text/javascript" src="js/modern/accordion.js"></script>
    <script type="text/javascript" src="js/modern/buttonset.js"></script>
    <script type="text/javascript" src="js/modern/carousel.js"></script>
    <script type="text/javascript" src="js/modern/input-control.js"></script>
    <script type="text/javascript" src="js/modern/pagecontrol.js"></script>
    <script type="text/javascript" src="js/modern/rating.js"></script>
    <script type="text/javascript" src="js/modern/slider.js"></script>
    <script type="text/javascript" src="js/modern/tile-slider.js"></script>
    <script type="text/javascript" src="js/modern/tile-drag.js"></script>
    <script type="text/javascript" src="js/modern/calendar.js"></script>

    <title>Metro UI CSS</title>
</head>
<body class="metrouicss" onload="prettyPrint()">

<div class="page">
<div class="nav-bar">
    <div class="nav-bar-inner padding10">
        <span class="pull-menu"></span>

        <a href="/"><span class="element brand">
            <img class="place-left" src="images/logo32.png" style="height: 20px"/>
            Metro UI CSS <small><?= include("version.phtml")?></small>
        </span></a>

        <div class="divider"></div>

        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li data-role="dropdown">
                <a href="#">Scaffolding</a>
                <ul class="dropdown-menu">
                    <li><a href="global.html">Global styles</a></li>
                    <li><a href="layout.html">Layouts and templates</a></li>
                    <li><a href="grid.html">Grid system</a></li>
                    <li class="divider"></li>
                    <li><a href="responsive.html">Responsive design</a>
                    </li>
                </ul>
            </li>
            <li data-role="dropdown"><a href="#">Base CSS</a>
                <ul class="dropdown-menu">
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="tables.html">Tables</a></li>
                    <li><a href="forms.html">Forms</a></li>
                    <li><a href="buttons.html">Buttons</a></li>
                    <li><a href="images.html">Images</a></li>
                    <li class="divider"></li>
                    <li><a href="icons.html">Icons</a></li>
                </ul>
            </li>
            <li data-role="dropdown"><a href="#">Components</a>
                <ul class="dropdown-menu">
                    <li><a href="tiles.html">Tiles</a></li>
                    <li><a href="menus.html">Menu and Navigation</a></li>
                    <li><a href="sidebar.html">Sidebar</a></li>
                    <li><a href="pagecontrol.html">Page control</a></li>
                    <li><a href="accordion.html">Accordion</a></li>
                    <li><a href="buttons-set.html">Buttons set</a></li>
                    <li><a href="rating.html">Rating</a></li>
                    <li><a href="progress.html">Progress bars</a></li>
                    <li><a href="carousel.html">Carousel</a></li>
                    <li><a href="listview.html">List view</a></li>
                    <li><a href="slider.html">Slider</a></li>
                    <li><a href="dialog.html">Dialog box</a></li>
                    <li><a href="ajax.html">Ajax reinit</a></li>
                    <li><a href="calendar.html">Calendar</a></li>
                    <li><a href="pagelist.html">Calendar</a></li>
                    <li class="divider"></li>
                    <li><a href="notices.html">Notices and Replies</a></li>
                    <li class="divider"></li>
                    <li><a href="cards.html">Bonus - Deck of Cards</a></li>
                </ul>
            </li>

            <li><a href="https://github.com/olton/Metro-UI-CSS">Source</a></li>
        </ul>

    </div>
</div>
</div>



    <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>Sponsoring<small>info</small></h1>
                <a href="/" class="back-button big page-back"></a>
            </div>
        </div>

        <div class="page-region">
            <div class="page-region-content">
                <div class="span10">
                    <p>
                    Metro UI CSS is a dynamic framework for prototyping and building web sites with Windows 8 style.
                    The framework is developed in fully accordance with the recommendations of Microsoft that explain how to design applications with style of Windows 8.
                    </p>

                    <div class="bg-color-blue fg-color-white padding20">
                        <h3 class="fg-color-white">Today Metro UI CSS project is looking for a sponsor.</h3>
                    </div>

                    <br />
                    <p>
                        We offer you such sponsorship packages:
                    </p>
                    <br />

                    <h2><span class="label important">1</span> Major sponsor</h2>

                    <p><strong>You get:</strong></p>

                    <ul class="">
                        <li>The name of the sponsor before the name of the framework</li>
                        <li>The banner on the home page 300x220 px</li>
                        <li>The banner on the all internal pages</li>
                        <li>The priority in development of components for the needs of the sponsor</li>
                        <li>Exclusive components to the needs of the sponsor (sponsor license)</li>
                        <li>Assistance in using the framework</li>
                        <li>Prototyping interfaces to the needs of the sponsor</li>
                    </ul>

                    <p>
                        <strong>Pricing:</strong>
                        <br />a) without licensing management of Metro UI CSS - $ 5 000 per month. Minimum 1 year contract.
                        <br />b) with the licensing management of Licensing Metro UI CSS - $ 10 000 per month. Minimum 1 year contract.
                    </p>

                    <p>Prepayment for the first 3 months.</p>

                    <br />
                    <h3><span class="bg-color-red padding5 fg-color-white">2</span>  Sponsor of component</h3>

                    <p><strong>You get:</strong></p>
                    <ul>
                        <li>The name of the sponsor on the component page</li>
                        <li>300x75 px banner on the home page under the banners of the Major Sponsor</li>
                        <li>Exclusive banner 480x100 on the component page</li>
                        <li>Development of the component to the needs of the sponsor</li>
                        <li>Assistance in using the framework</li>
                    </ul>

                    <p>
                        <strong>Pricing:</strong>
                        <br />a) lisensing management to use the component - $ 2 000 per month. Minimum contract 6 months.
                        <br />b) without lisensing managenet to use the component - $ 1 000 per month. Minimum contract 3 months.
                    </p>

                    <br />
                    <h4><span class="bg-color-red padding5 fg-color-white">3</span>  Banner Sponsor</h4>

                    <p><strong>You get:</strong></p>
                    <ul>
                        <li>300x75 px banner on the home page under the banners of the Major Sponsor - $ 500 per month</li>
                        <li>Banner 300x75 px on inside page - $ 250 per month per page</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
	<div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10">
                <span class="element">
                    2012-2013, Metro UI CSS &copy; by <a class="fg-color-white" href="mailto:sergey@pimenov.com.ua">Sergey Pimenov</a>
                </span>
            </div>
        </div>
    </div>

	
    <script type="text/javascript" src="js/assets/github.info.js"></script>
    <script type="text/javascript" src="js/assets/google-analytics.js"></script>
    <script type="text/javascript" src="js/google-code-prettify/prettify.js"></script>
    <script src="js/sharrre/jquery.sharrre-1.3.4.min.js"></script>

    <script>
        $('#shareme').sharrre({
            share: {
                googlePlus: true
                ,facebook: true
                ,twitter: true
                ,delicious: true
            },
            urlCurl: "js/sharrre/sharrre.html",
            buttons: {
                googlePlus: {size: 'tall'},
                facebook: {layout: 'box_count'},
                twitter: {count: 'vertical'},
                delicious: {size: 'tall'}
            },
            hover: function(api, options){
                $(api.element).find('.buttons').show();
            }
        });
    </script>

    </body>
</html>
