<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="plcbus">
    <meta name="author" content="bennu">

    <title></title>
</head>
<body class="metrouicss">

<div class="page">
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
            <span class="pull-menu"></span>

            <a href="/">
                <span class="element brand">
                    plcbus <small></small>
                </span>
            </a>

            <div class="divider"></div>
        </div>
    </div>
</div>


<br/>


<h2>Alertas</h2>
<ul class="replies">
    <li class="bg-color-red">

        <div class="reply">
            <div class="author">$!device.getName()</div>
            <div class="text">Dispositivo encendido por mas de dos horas</div>
        </div>
    </li>
</ul>


<br/>

#if($!alarmedDeviceList.size() > 0 )

<h2>Otros dospositivos alarmados</h2>

<table class="striped">
    <thead>
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Tipo</th>
    </tr>
    </thead>

    <tbody>
        #foreach( $device in $alarmedDeviceList )
        <tr>
            <td>$!device.getCode()</td>
            <td>$!device.getName()</td>
            <td>$!device.getDesc()</td>
            <td>$!device.getDeviceTypeEnum().getGeneralDeviceTypeEnum().getName()</td>
        </tr>
        #end
    </tbody>

    <tfoot></tfoot>
</table>

#end

<div class="page">
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
                <span class="element">
                    bennu
                </span>
        </div>
    </div>
</div>


</body>
</html>
